.Navbar {
    background-color: rgba(128, 73, 73, 0.459);
    display: flex;
    justify-content: space-between;
    text-decoration: none;


}


.Navbar li {
    text-align: center;
    float: right;
    padding: 14px 16px;
    font-size: 17px;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;

}

.Navbar li a:hover {
    cursor: pointer;
    color: #b5b5b5;
}

.Navbar a {
    text-decoration: none;
    color: #f2f2f2;

}

.bagIcon {
    margin-top: 25px;
    color: white;
}

.bagIconCount {
    display: inline-flex;
    color: white;
    align-items: baseline;
    margin-right: 1rem;
}

.bagIconNumber {
    display: flex;
}