footer {
    background-color: #e0e0e0;
    color: #2b2828;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 8rem;
}


.logoFooter {
    width: 30%;
    margin-top: 1.35rem;
}